body
{
    font-family: 'CarlitoRegular';
    /* background-image: url("../images/images.png"); */
    /* background-size: 100%; */
}

h1
{
    font-size: 50px;
}

p
{
    padding-top: 15px;
}

button
{
    margin-top: 25px;
}

#headerheader
{
    padding: 50px;
    line-height: 200px;
    height: 200px;
    background-color: #21325A;
    text-align: center;
    color: aliceblue;
}

.bodier
{
    background-color: white;
    margin: 40px 0;
    height: 510px;
    box-shadow: -1px -1px 1px gray,
		1px -1px 1px gray,
		-1px 1px 1px gray,
        1px 1px 1px gray;
}

#bodyheader
{
    background-color: #F8F8F8;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    box-shadow: -1px -1px 1px gray,
		1px -1px 1px gray,
		-1px 1px 1px gray,
        1px 1px 1px gray;
}

#bodybody
{
    font-size: 18px;
}

.box
{
    width: 80%;
}