body
{
    font-family: 'CarlitoRegular';
    /* background-image: url("../images/images.png"); */
    background-size: 100%;
}

h1
{
    font-size: 50px;

}

p
{
    padding-top: 15px;
}
.header
{
    margin: 40px;
    padding: 75px;
    width: 1200px;
    height: 250px;
    background-color: rgb(7, 47, 133);
    text-align: center;
    color: aliceblue;
}

.bodier
{
    background-color: white;
    margin-top: 70px;
    height: 510px;
    box-shadow: -1px -1px 1px gray,
		1px -1px 1px gray,
		-1px 1px 1px gray,
        1px 1px 1px gray;
}

#bodyheader
{
    background-color: #F8F8F8;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    box-shadow: -1px -1px 1px gray,
		1px -1px 1px gray,
		-1px 1px 1px gray,
        1px 1px 1px gray;
}

#bodybody
{
    font-size: 18px;
}

.box
{
    width: 80%;
}