body
{
    font-family: 'Times New Roman', Times, serif;
    background-size: 100%;
}

h1
{
    font-size: 50px;

}

.header
{
    margin: 40px;
    padding: 75px;
    width: 1200px;
    height: 250px;
    background-color: rgb(7, 47, 133);
    text-align: center;
    color: aliceblue;
}

.bodier
{
    background-color: white;
    opacity: 80%;
    border: 1px solid gray;
    margin-top: 70px;
    height: 510px;
}

#question
{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding: 30px 0;
    border-bottom: 2px dashed black;
}

#answer
{
    font-size: 20px;
}